# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Training outputs
runs/
runs_four_models/

# Dataset
VOCdevkit/

# Checkpoints
*.pt
*.pth

# Logs
*.log
*.csv

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db